<template>
    <div class="flex flex-col py-16 px-16">
        <h1 class="text-white font-extrabold text-3xl tracking-wider">Weather Forecast For You </h1>

        <div class="mt-4 flex items-center text-sm">
            <p class="text-gray-500 mr-1 tracking-wide">Trending:</p>
            <p class="text-indigo-500 mx-2 tracking-wide">
                <a href="">NewYork,</a>
                <a href="">London,</a>
                <a href="">Tel Aviv,</a>
                <a href="">Amsterdam,</a>
                <a href="">Tokyo,</a>
                <a href="">Madrid</a>
            </p>
        </div>

        <div class="mt-8 relative flex">
            <input id="address" type="search" class="w-3/4 py-2 px-8 text-gray-500 text-xs rounded focus:outline-none focus:shadow-outline" placeholder="Search City">
           <div class="hidden">
               Selected: <strong id="address-value">none</strong>
           </div>
            <div class="absolute top-3 left-1.5">
                <svg class="w-4 h-4 text-gray-800" fill="none" stroke="currentColor"
                     viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"/></svg>
            </div>
        </div>

        <div class="bg-gray-800 flex w-3/4 mt-8 py-6 px-3 rounded-lg">

            <div class="flex">
                <img class=" w-28 h-28 rounded-full" src="telaviv.jpg" alt="">
            </div>
            <div class="w-3/4">
                <div class="flex items-center ml-4">
                    <div>
                        <h2 class="text-white text-3xl">{{ location.name }}</h2>
                    </div>

                    <div class="ml-2 flex">
                        <div class="text-4xl text-gray-500">{{ currentTemp.actual}}</div>
                        <span class="text-white ml-1">° C</span>
                    </div>

                    <div class="ml-4 text-white">
                        <svg class="w-10 h-10" viewBox="0 0 64 64"><defs><clipPath id="a"><path fill="none" d="M0 7.5h64v32H0z"/></clipPath></defs><g clip-path="url(#a)"><circle cx="32" cy="39" r="11.64" fill="#f4a71d"/><path fill="none" stroke="#f4a71d" stroke-linecap="round" stroke-miterlimit="10" stroke-width="3" d="M32 22.71V16.5M32 61.5v-6.21M43.52 27.48l4.39-4.39M16.09 54.91l4.39-4.39M20.48 27.48l-4.39-4.39M47.91 54.91l-4.39-4.39M15.71 39H9.5M54.5 39h-6.21"/></g><path fill="none" stroke="#2885c7" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 42.5h11l5-4.5 5 4.5h11"/></svg>
                    </div>
                </div>

                <div class="flex ml-6 mt-4">
                    <div class="text-white">
                        <h3>{{noTimeZone(currentTemp.time)}}</h3>
                    </div>
                    <div class="text-white ml-4 uppercase">
                        {{ currentTemp.summary}}
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-8 mb-8">
            <h2 class="text-white text-2xl font-semibold"> Week Forecast</h2>
        </div>

        <div class="flex items-center justify-center space-x-2 w-3/4">

            <div v-for = "(day,index) in daily" :key="day.time" class="py-6 px-8 flex-1 text-white bg-gray-800 rounded-lg">
                <h4 class=" text-lg">{{toDayOfWeek(day.dt)}}</h4>
                <p class="text-sm uppercase">{{day.weather[0].description}}</p>
                <svg class="w-10 h-10" viewBox="0 0 64 64"><defs><clipPath id="a"><path fill="none" d="M21.17 46.81L18 64h24l2.75-17.19H21.17z"/></clipPath></defs><g clip-path="url(#a)" fill="#72b8d4"><circle cx="32" cy="50" r="1.5"/><circle cx="39" cy="50" r="1.5"/><circle cx="25" cy="50" r="1.5"/></g><path d="M46.5 31.5h-.32a10.49 10.49 0 00-19.11-8 7 7 0 00-10.57 6 7.21 7.21 0 00.1 1.14A7.5 7.5 0 0018 45.5a4.19 4.19 0 00.5 0v0h28a7 7 0 000-14z" fill="#efefef" stroke="#efefef" stroke-miterlimit="10" stroke-width="3"/></svg>

                <p class="font-semibold">{{Math.floor(day.main.temp)}}°C</p>
            </div>
        </div>

    </div>
</template>
<script>
    export default {
        mounted() {
            this.fetchData();
            let placesAutocomplete = places({
                appId:'plTM17J1F5UD',
                apiKey:'4eacfa9334eecaee39725d58e2d39a8d',
                container: document.querySelector('#address')
            });

            var $address = document.querySelector('#address-value')
            placesAutocomplete.on('change', (e) => {
                $address.textContent = e.suggestion.value
                console.log(e)
                this.location.name = `${e.suggestion.name}, ${e.suggestion.country}`
                this.location.lat = e.suggestion.latlng.lat
                this.location.long = e.suggestion.latlng.lng

            });
        },
        data(){
            return{
                currentTemp:{
                    actual:'',
                    feels:'',
                    summary:'',
                    time:'',
                    icon:'',
                },
                location: {
                    name: 'Tel-Aviv',
                    lat:32.0853,
                    long:34.7818,
                },
                daily: [],
                watch: {
                    location: {
                        handler(newValue, oldValue) {
                            this.fetchdata()
                        },
                        deep: true
                    }
                },
            }
        },
        methods: {
            fetchData(){
                fetch(`/api/weather?lat=${this.location.lat}&long=${this.location.long}`)
                    .then(response => response.json())
                    .then(data =>{
                        console.log(data)
                        this.currentTemp.actual = Math.round(data.list[0].main.temp)
                        this.currentTemp.feels = data.list[0].main.feels_like
                        this.currentTemp.summary = data.list[0].weather[0].description
                        this.currentTemp.time = data.list[0].dt
                        this.daily = data.list.slice(0,5)
                    })
            },
            toDayOfWeek(timestamp){
                const newDate = new Date(timestamp * 1000)
                const days =['SUN', 'MON','TUE', 'WED','THUR', 'FRI','SAT']
                return days[newDate.getDay()]
            },
            noTimeZone(timestamp){
                const siku = new Date(timestamp * 1000)

                let months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
                const days =['Sunday', 'Monday','Tuesday', 'Wednesday','Thursday', 'Friday','Saturday']

                let year = siku.getFullYear();
                let month = months[siku.getMonth()];
                let day = days[siku.getDay()];
                let date = siku.getDate();
                let hour = siku.getHours();
                let min = siku.getMinutes();
                let sec = siku.getSeconds();

                let time = day + ' ' + month + ' ' + year;

                return time;

            }
        }
    }
</script>
